{
  "presets": [
    "es2015-ie",
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "import", [
        {
           "libraryName": "antd-mobile",
           "libraryDirectory": "es",
           "style": true
        }
      ]
    ],
    "transform-decorators-legacy"
  ]
}
